@import "../lib/bootstrap/less/bootstrap";

div.panel-body > .table {
  margin-bottom: 0;
}

html, body {
  height: 100%;
}

.wrapper.container {
  min-height: 100%;
  padding-bottom: 15px;
}

footer {
  margin-top: -30px;
  width: 100%;
  height: 30px;

  .text {
    background-color: @navbar-default-bg;
    border: @border-radius-base;
    margin: 5px;
  }
}

div.main {
  .tasks {
    .value {
      text-align: right;
      font-weight: bold;
    }
  }
  .panel-body {
    ul {
      &:not(:last-child) {
        margin-bottom: 3px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

div.gear {
  .panel-heading {
    line-height: 2.2em;
    .btn {
      margin-left: 3px;
    }
  }

  .attributes {
    .level {
      width: 15%;
    }
    .attribute {
      text-align: right;
    }
  }

  .btn-group.dropdown {
    width: 100%;

    .btn {
      width: 100%;
      text-align: left;

      .caret {
        margin-left: 3px;
        margin-top: 8px;
      }
    }

    ul {
      max-height: 300px;
      overflow: auto;

      li {
        width: 100%;
        &.active {
          background: @btn-primary-color;
        }
      }
    }
  }
}