<form ng-submit="save()" name="configForm">
    <div class="panel panel-default">
        <div class="panel-heading">Credentials</div>
        <div class="panel-body">

            <p class="help-block">
                You can get both on the Habitica
                <a href="https://habitica.com/#/options/settings/api" target="_blank">Settings Page</a>.
                They will be saved in your browser local storage.
            </p>
            <div class="form-group">
                <label for="userId">User-ID</label>
                <input type="text" class="form-control" id="userId" placeholder="User-ID"
                       pattern="{{ uuidRegex }}"
                       ng-model="userId" required/>
            </div>
            <div class="form-group">
                <label for="apiToken">API Token</label>
                <input type="text" class="form-control" id="apiToken" placeholder="API Token"
                       pattern="{{ uuidRegex }}"
                       ng-model="apiToken" required/>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">
                Save
            </button>
            <a class="btn btn-default" ui-sref="main" ng-if="isValid">
                Back
            </a>
        </div>
    </div>
</form>